html {
    --primary-color: #0b0b0b;
    --secondary-color: #0000ff;
    --background-color: #f0f0f0;
}

html.dark {
    --primary-color: #f0f0f0;
    --secondary-color: #00ff00;
    --background-color: #0b0b0b;
}