html {
    --primary-color: #070707;
    --primary-color-accent: #011221;
    --secondary-color: #607B96;
    --secondary-color-dark: rgba(96, 123, 150, 0.5);
    --secondary-color-accent: #43D9AD;
    --secondary-color-neutral: #E5E9F0;
    --accent-color: #E99287;
    --accent-color-dark: #1E2D3D;
    --accent-color-light: #4D5BCE;
    --accent-color-neutral: #7000FF;
}

html.dark {
    --primary-color: #070707;
    --primary-color-accent: #011221;
    --secondary-color: #607B96;
    --secondary-color-dark: rgba(96, 123, 150, 0.5);
    --secondary-color-accent: #43D9AD;
    --secondary-color-neutral: #E5E9F0;
    --accent-color: #E99287;
    --accent-color-dark: #1E2D3D;
    --accent-color-light: #4D5BCE;
    --accent-color-neutral: #7000FF;
}